<div class="container mb-3 mt-4">
    <h5>Choose Your Best Quality Cakes From Here</h5>
    <div class="row">
        <div class="col-md-4">
            <div class="card mt-2">
                <div class="product-1 align-items-center p-2 text-center">
                    <img src="../assets/img/c1.jpg" class="rounded" width="160">
                    <h5>Choco Cake</h5>

                    <div class="mt-2 info">
                        <span class="text1 d-block">Chochlate cake with real coco</span>
                        <span class="text1">Must Try</span>
                    </div>

                    <div class="cost mt-3 text-dark">
                        <span>&#8377; 300</span>
                    </div>
                </div>
                <div class="p-3 shoe text-center text-white mt-3 cursor">
                    <span class="text-uppercase">Add to Cart</span>
                </div>
            </div>

        </div>




        <div class="col-md-4">
            <div class="card mt-2">
                <div class="product-1 align-items-center p-2 text-center">
                    <img src="../assets/img/c2.jpg" class="rounded" width="120">
                    <h5>Jelly belly Cake</h5>

                    <div class="mt-2 info">
                        <span class="text1 d-block">Chochlate cake with tooty fruity</span>
                        <span class="text1">Newly Added</span>
                    </div>

                    <div class="cost mt-3 text-dark">
                        <span>&#8377; 350</span>
                    </div>
                </div>
                <div class="p-3 shoe text-center text-white mt-3 cursor">
                    <span class="text-uppercase">Add to Cart</span>
                </div>

            </div>


        </div>


        <div class="col-md-4">
            <div class="card mt-2">
                <div class="product-1 align-items-center p-2 text-center">
                    <img src="../assets/img/c3.jpg" class="rounded" width="124">
                    <h5>Fruit Cake</h5>

                    <div class="mt-2 info">
                        <span class="text1 d-block">Creamy Cake Loaded With Fruits</span>
                        <span class="text1">Newly Added</span>
                    </div>

                    <div class="cost mt-3 text-dark">
                        <span>&#8377; 350</span>
                    </div>
                </div>
                <div class="p-3 shoe text-center text-white mt-3 cursor">
                    <span class="text-uppercase">Add to Cart</span>
                </div>
            </div>


        </div>

    </div>
</div>