<div class="container mb-3 mt-4">
    <h5>Choose Your Best Gifts From Here</h5>
    <div class="row">
        <div class="col-md-4">
            <div class="card mt-2">
                <div class="product-1 align-items-center p-2 text-center">
                    <img src="../assets/img/t1.jpg" class="rounded" width="126">
                    <h5>Toy Car</h5>

                    <div class="mt-2 info">
                        <span class="text1 d-block">Adventure Monster Car</span>
                    </div>

                    <div class="cost mt-3 text-dark">
                        <span>&#8377; 550</span>
                    </div>
                </div>
                <div class="p-3 shoe text-center text-white mt-3 cursor">
                    <span class="text-uppercase">Add to Cart</span>
                </div>
            </div>

        </div>




        <div class="col-md-4">
            <div class="card mt-2">
                <div class="product-1 align-items-center p-2 text-center">
                    <img src="../assets/img/t2.jpg" class="rounded" width="120">
                    <h5>Action Figure</h5>

                    <div class="mt-2 info">
                        <span class="text1 d-block">Spiderman New Movie Figure</span>
            
                    </div>

                    <div class="cost mt-3 text-dark">
                        <span>&#8377; 700</span>
                    </div>
                </div>
                <div class="p-3 shoe text-center text-white mt-3 cursor">
                    <span class="text-uppercase">Add to Cart</span>
                </div>

            </div>


        </div>


        <div class="col-md-4">
            <div class="card mt-2">
                <div class="product-1 align-items-center p-2 text-center">
                    <img src="../assets/img/t3.jpg" class="rounded" width="115">
                    <h5>Photo Frame</h5>

                    <div class="mt-2 info">
                        <span class="text1 d-block">Digial Photo Frame For Your Memories</span>
                    </div>

                    <div class="cost mt-3 text-dark">
                        <span>&#8377; 1500</span>
                    </div>
                </div>
                <div class="p-3 shoe text-center text-white mt-3 cursor">
                    <span class="text-uppercase">Add to Cart</span>
                </div>
            </div>


        </div>

    </div>
</div>
