<ngx-json-ld [json]="jsonLD"></ngx-json-ld>
<nav class="navbar navb">
  <span class="navbar-brand mb-0 mx-4 h1 ck">CakeShake</span>
  <h5 class="tline">Your Ocassion our responsibility</h5>
</nav>
<div class="container-fluid nb">
  <ul class="nav d-flex">
    <li class="nav-item active">
      <a class="nav-link al navbar-brand" routerLink="cakes"> <span class="sr-only">Cakes</span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link al  navbar-brand" routerLink="gifts">Gifts</a>
    </li>
  </ul>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>